@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

*,*,*::before,*::after{
    box-sizing: border-box;
}

*::-moz-focus-inner {
    border: 0;
  }

  
html {
    scroll-behavior: smooth;
  }

body{
    padding: 0;
    background-color: #1B262C;
    font-family: Prompt,sans-serif;
    color: white;

    margin: 0 auto;
    overflow-x: hidden;
}
